body {
  overflow-x: hidden;
}

.shadow {
  -webkit-box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.08);
}

.overlay {
  &:before {
    content: '';
    background: rgba(105, 140, 230, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}



.bg-gray {
  background: #fafafa;
}

.bg-blue {
  background: $primary-color;
}

.bg-1 {
  background: url(../images/background/promo-video-back.jpg) fixed no-repeat;
  background-size: cover;
}

.bg-coming-soon {
  background: url(../images/background/comming-soon.jpg) fixed no-repeat;
  background-size: cover;
  background-position: bottom;
}

.section {
  padding: 25px 0;
  h3 {
    padding-top:10px;
  }
}

.section-title {
  text-align: center;

  h2 {
    font-size: 35px;
    margin-bottom: 13px;
  }

  p {
    width: 50%;
    margin: 0 auto;

    @include mobile {
      width: 100%;
    }
  }

  margin-bottom: 80px;
}

section.page-title {
  text-align: center;
  background-image: linear-gradient(45deg,#009EC5 0%, $primary-color 20%, $primary-color 80%,#02225B 100%);
  padding-top:$top-menu-height;

  h1 {
    color:white;
    font-weight: 500;
    margin:0;
    font-size:45px;
    line-height: normal;
  }
}

.form-control {
  &.main {
    background: $light;
    padding: 15px 20px;
    height: 48px;
    margin-bottom: 20px;
    border: 1px solid $border-color;
    font-size: 14px;

    &:focus {
      border: 1px solid $primary-color;
      box-shadow: none;
    }
  }
}

textarea.form-control {
  &.main {
    height: initial;
  }
}

.form-control::-webkit-input-placeholder {
  color: $text-color;
  font-size: 14px;
}

.left {
  overflow: hidden;

  img {
    margin-left: -40px;

    @include tablet {
      margin-left: 0;
      margin-bottom: 30px;

    }
  }
}

.right {
  overflow: hidden;

  img {
    margin-left: 40px;

    @include tablet {
      margin-left: 0;
    }
  }
}

.hide-overflow {
  overflow: hidden;
}


button:focus,
.slick-slide:focus {
  outline: 0;
}

.content-container {
  @extend .shadow;
  padding: 40px 25px;

  @include tablet {
    padding: 40px 10px;
  }
  
  background: $light;
  max-width: 1024px;
}

.article-content {
  padding-bottom: 10px;

  h2{
    font-size: 32px;
  }

  h3{
    font-size: 24px;
  }

  h4 {
    font-size: inherit;
    text-decoration: underline;
  }

.article-body {
    .full-image {
      margin-bottom: 10px;

      img {
        width: 100%;
      }
    }

    p {
      margin-bottom: 15px;
    }

    dl{
      dd{
        padding-left:25px;
        @include tablet{
          padding-left:10px;
        }
      }
    }

    .quote {
      padding: 30px 0;
      width: 80%;
      margin: 0 auto;

      blockquote {
        color: $black;
        padding: 10px 0 10px 30px;
        text-align: left;
        font-size: 30px;
        line-height: 40px;
        border-left: 6px solid #666666;
      }
    }
  }
}