
<footer>
  <div class="text-center bg-dark py-4">
    <a href="https://jenkins.scrutinydebugger.com/blue"><img src="images/logos/jenkins-logo.png" height="40"/></a>
    <a href="https://github.com/scrutinydebugger/"><img src="images/logos/github-logo-white.png" height="38"/></a>
    <div>
      <small class="text-secondary">Copyright &copy; 
        <script>
        const startdate=2023; 
        const thedate=new Date().getFullYear(); 
        document.write(startdate);
        if (thedate !== startdate) {
          document.write("-" + thedate)
        }
        </script>. <a href="https://scrutinydebugger.com" style="color:inherit">Scrutiny Debugger</a></small class="text-secondary">
      </small>
      </div>
  </div>
</footer>