<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Scrutiny Debugger</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Scrutiny Debugger">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Scrutiny Debugger">

  <meta property="og:title" content="Scrutiny Debugger"/>
  <meta property="og:image" content="https://scrutinydebugger.com/images/logos/scrutiny-logo-text-256x448.png"/>
  <meta property="og:description" content="An open source debugging, development and testing tool for C/C++ embedded application that works through instrumentation."/>
  <meta property="og:url" content="https://scrutinydebugger.com"/>
  <meta property="og:image:width" content="448" />
  <meta property="og:image:height" content="128" />
  
  <link rel="shortcut icon" type="image/x-icon" href="images/logos/scrutiny-logo-square-64x64.png" />
  
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="plugins/highlight/default.min.css">

  <link href="css/style.css" rel="stylesheet">

</head>

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
