<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
  <div class="container">
    <a class="navbar-brand" href="index.html"><img src="images/scrutiny-logo-banner-128x960.png" height="32" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        
        <!-- Home -->
        <li class="nav-item @@home">
          <a class="nav-link" href="index.html">Home</a>
        </li>

        <!-- Download -->
        <li class="nav-item @@download">
          <a class="nav-link" href="download.html"><del>Download</del></a>
        </li>

        <!-- Guide -->
        <li class="nav-item dropdown @@guide">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Guide
            <span><i class="ti-angle-down"></i></span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item @@introduction" href="guide-introduction.html">Introduction</a></li>
            <li><a class="dropdown-item @@installation" href="guide-installation.html"><del>Installation</del></a></li>
            <li><a class="dropdown-item @@instrumentation" href="guide-instrumentation.html"><del>Instrumenting a software</del></a></li>
          </ul>
        </li>

        <!-- Documentation -->
        <li class="nav-item dropdown @@documentation">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Documentation
            <span><i class="ti-angle-down"></i></span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item @@architecture" href="doc-architecture.html"><del>Application architecture</del></a></li>
            <li><a class="dropdown-item @@api-ref" href="doc-api-ref.html"><del>Server API reference</del></a></li>
            <li><a class="dropdown-item @@device-protocol" href="doc-device-protocol.html"><del>Device communication protocol</del></a></li>
            <li><a class="dropdown-item @@cli-ref" href="doc-cli-ref.html"><del>CLI reference</del></a></li>
          </ul>
        </li>
        
        <!-- FAQ -->
        <li class="nav-item @@faq">
          <a class="nav-link" href="FAQ.html">FAQ</a>
        </li>
        
        <!-- About -->
        <li class="nav-item @@about">
          <a class="nav-link" href="about.html">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>